<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title" style="color: black;"><h4>เพิ่มบันทึกการรักษา</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">android</i>
                    <input type="text" id="id" disabled ng-model="detailHeal.id">
                    <label class="active" for="id">ลำดับ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">android</i>
                    <input type="date" id="dateIn" class="datepicker" ng-model="detailHeal.dateHeal">
                    <label for="dateIn" class="active" id="namedepartment1" >วันที่รักษา</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix clear-prefix" >android</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-department" 
                                ng-model="detailHeal.patient" 
                                ng-options="pt.name for pt in patients.content"
                                >                       
                        </select>
                    </div>
                    <label id="label-department" class="active">ชื่อลูกค้า</label>
                </div>
                <div class="col m6 input-field">
                    <i class="material-icons prefix clear-prefix" >android</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-department" 
                                ng-model="detailHeal.doctor" 
                                ng-options="dt.nameTh for dt in doctors.content"
                                >                       
                        </select>
                    </div>
                    <label id="label-department" class="active">ชื่อหมอ</label>
                </div>
            </div>
            <div class="row" >
                <div class="col m12 input-field">
                    <i class="material-icons prefix clear-prefix">android</i>
                    <textarea class="materialize-textarea" ng-model="detailHeal.detail"></textarea>
                    <label id="label-department" class="active">รายละเอียดการรักษา</label>
                </div>
            </div>

            <div class="row" >
                <div class="input-field col m12" >
                    <table  class="bordered" >
                        <thead >
                            <tr>
                                <th>ลำดับ</th> 
                                <th>ราการที่จัดทำ</th>
                                <th>จำนวน</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="odh in orderHeals">
                                <td>{{$index + 1}}</td>
                                <td>{{odh.listSelectHeal.name}}</td>
                                <td>{{odh.value}}</td>
                                <td><input type="button" value="ลบ" class="btn btn-primary red" ng-click="removeSelectHeal(odh.listSelectHeal.name)"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--            ปุ่มกดเลือกชนิดการรักษา-->
            <div class="row" >
                <div class="input-field col m6">
                    <h5>เพิ่มชนิดการรักษา</h5>
                    <button class="btn-floating btn-large waves-effect waves-light btn modal-trigger"  href="#modalSelectHeal">
                        <i class="material-icons">add</i></button>
                </div>
            </div>

            <div class="row">
                <div class="col m6 right" style="position: relative;left: 175px;">
                    <a href="" class="btn btn-green waves-effect waves-light" ng-click="saveDetailheal()">บันทึกข้อมูล</a>
                    <a href="" class="btn btn-orenge waves-effect waves-light" ng-click="clearData()">ล้างข้อมูล</a>
                </div>
            </div>

        </div>
    </div>
    <!--    ตารางข้อมูล-->
    <div class="card">
        <div class="card-content">
            <span class="card-title" style="color: black;"><h4>ตารางบันทึกการรักษา</h4></span>
            <table class="bordered hoverable responsive-table">
                <thead>
                <th style="width: 5%" class="table-department">ลำดับ</th>
                <th style="width: 10%" class="table-department">ชื่อลูกค้า</th>
                <th style="width: 10%" class="table-department">ชื่อหมอ</th>
                <th style="width: 10%" class="table-department">วันที่รักษา</th>
                <th style="width: 10%" class="table-department">จัดการ</th>
                </thead>
                <tbody>
                    <tr ng-repeat="dh in detailHeals.content">
                        <td>{{dh.id}}</td>
                        <td>{{dh.patient.name}}</td>
                        <td>{{dh.doctor.nameTh}}</td>
                        <td>{{dh.dateHeal}}</td>
                        <td>
                            <a class="modal-trigger btn btn-green waves-effect waves-light" href="" ng-click="actionDelete(paep)" >ดูรายละเอียด</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalSelectHeal" class="modal">
    <div class="modal-content">
        <div class="row center" >           
            <div class="row center">
                <h4 style="background: #00838f;color: white;padding: 20px;" class="margin-top-20 magin-buttom-20">เลือกชนิดการรักษา</h4>
            </div>

            <div class="col m6 input-field">
                <i class="material-icons prefix clear-prefix" style="margin-left: -175px;">android</i>
                <div class="select-custom">
                    <select class="browser-default" id="select-department" 
                            ng-model="nameListOrderheal" 
                            ng-options="lsh.name for lsh in listSelectHeals.content"
                            >                       
                    </select>
                </div>
                <label id="label-department" class="active">ชื่อชนิดการรักษา</label>
            </div>
            <div class="col m6 input-field">
                <i class="material-icons prefix">android</i>
                <input type="number" id="name" ng-model="amountListSelectHeal">
                <label class="active"  for="name">จำนวน</label>
            </div>
        </div>
    </div>

    <div class="model-footer right">
        <a href="" class="magin-button btn btn light-blue darken-4 modal-action modal-close" ng-click="addSelectHeal(nameListOrderheal)" >ตกลง</a>
        <a href="" class="magin-button btn btn grey darken-2 modal-action modal-close" >ยกเลิก</a>
    </div>
</div>
