<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title" style="color: black;"><h4>เพิ่มบันทึกการรักษา</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">android</i>
                    <input type="text" id="id" disabled ng-model="detailHeal.id">
                    <label class="active" for="id">ลำดับ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">android</i>
                    <input type="date" id="dateIn" class="datepicker" ng-model="detailHeal.dateHeal">
                    <label for="dateIn" class="active" id="namedate" >วันที่รักษา</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix clear-prefix" >android</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-department" 
                                ng-model="detailHeal.patient" 
                                ng-options="pt.name for pt in patients.content"
                                >                       
                        </select>
                    </div>
                    <label id="label-department" class="active">ชื่อลูกค้า</label>
                </div>
                <div class="col m6 input-field">
                    <i class="material-icons prefix clear-prefix" >android</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-department" 
                                ng-model="detailHeal.doctor" 
                                ng-options="dt.nameTh for dt in doctors.content"
                                >                       
                        </select>
                    </div>
                    <label id="label-department" class="active">ชื่อหมอ</label>
                </div>
            </div>
            <div class="row" >
                <div class="col m12 input-field">
                    <i class="material-icons prefix clear-prefix">android</i>
                    <textarea class="materialize-textarea" ng-model="detailHeal.detail"></textarea>
                    <label id="namedatail" class="active">รายละเอียดการรักษา</label>
                </div>
            </div>

            <div class="row" >
                <div class="input-field col m12" >
                    <table  class="bordered" >
                        <thead >
                            <tr>
                                <th>ลำดับ</th> 
                                <th>ราการที่จัดทำ</th>
                                <th>จำนวน</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="odh in orderHeals">
                                <td>{{$index + 1}}</td>
                                <td>{{odh.listSelectHeal.name}}</td>
                                <td>{{odh.value}}</td>
                                <td><input type="button" value="ลบ" class="btn btn-primary red" ng-click="removeSelectHeal(odh.listSelectHeal.name, odh.id)"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--            ปุ่มกดเลือกชนิดการรักษา-->
            <div class="row" >
                <div class="input-field col m6">
                    <h5>เพิ่มชนิดการรักษา</h5>
                    <button class="btn-floating btn-large waves-effect waves-light btn modal-trigger pink"  href="#modalSelectHeal">
                        <i class="material-icons">add</i></button>
                </div>
            </div>

            <div class="row">
                <div class="col m6 right" style="position: relative;left: 175px;">
                    <a href="" class="btn btn-green waves-effect waves-light" ng-click="saveDetailheal()">บันทึกข้อมูล</a>
                    <a href="" class="btn btn-orenge waves-effect waves-light" ng-click="clearData()">ล้างข้อมูล</a>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-content"><h4>ค้นหาบันทึกการรักษา</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search" ng-model="searchData.keyword">
                    <label for="search" >Search : </label>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <span><h6>Search By : </h6></span>
                    <div class="select-custom">
                        <select class="browser-default" id="select-searchby" ng-model="searchData.searchBy" ng-init="searchData.searchBy = 'Name'">
                            <option value="Name">ชื่อลูกค้า</option>
                            <option value="DateHeal">วันที่รักษา</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <a class="btn waves-effect waves-light" style="margin-top: 10px; margin-left:calc(3.8rem)" ng-click="searcEmployee()">Search</a>
                </div>
            </div>
        </div>
    </div>

    <!--    ตารางข้อมูล-->
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col m6">
                    <span class="card-title" style="font-size: 30px; font-weight:400;color: black">ตารางบันทึกการรักษา</span>
                </div>
                <div class="col m6">
                    <div class="right">
                        <span class="">Show Page : </span>
                        <select class="browser-default" ng-change="selectGetOrSearch()" style="margin-top: 10px; margin-left:calc(3.8rem);width: 100px;" ng-model="row" ng-init="row = '10'">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="bordered hoverable responsive-table">
                <thead>
                <th style="width: 5%" class="table-department">ลำดับ</th>
                <th style="width: 10%" class="table-department">ชื่อลูกค้า</th>
                <th style="width: 10%" class="table-department">ชื่อหมอ</th>
                <th style="width: 10%" class="table-department">วันที่รักษา</th>
                <th style="width: 10%" class="table-department">จัดการ</th>
                </thead>
                <tbody>
                    <tr ng-repeat="dh in detailHeals.content">
                        <td>{{dh.id}}</td>
                        <td>{{dh.patient.name}}</td>
                        <td>{{dh.doctor.nameTh}}</td>
                        <td>{{dh.dateHeal}}</td>
                        <td>
                            <a href="" class="activator btn waves-effect green" ng-click="seeDatailHeal(dh)" >ดูรายละเอียด</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="card-employee">
                <div class="col m12">
                    <ul class="pagination right" style="margin-top: 10px;">
                        <li class="btn waves-effect btn-pagination" id="first-page" ng-click="firstPage()"><p style="margin-top: 2px;">&Lt;</p></li>
                        <li class="btn waves-effect btn-pagination" id="pre-page" ng-click="prePage()"><p style="margin-top: 2px;">&LT</p>;</li>
                        <li class="btn waves-effect btn-pagination"><p style="margin-top: 2px;">{{currentPage}}</p></li>
                        <li class="btn waves-effect btn-pagination" id="next-page" ng-click="nextPage()"><p style="margin-top: 2px;">&GT;</p></li>
                        <li class="btn waves-effect btn-pagination" id="final-page" ng-click="finalPage()"><p style="margin-top: 2px;">&Gt;</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <div id="card-height" class="card-height">
                <span class="card-title grey-text text-darken-4" id="close-card">ข้อมูลบันทึกการรักษา<i class="material-icons right" ng-click="toPreScroll()">close</i></span>
                <div style="margin-top: 20px;">
                    <div class="row">
                        <div class="col m3 s6">
                            <label class="right topic-detail">ลำดับ : </label>
                        </div>
                        <div class="col m3 s6">
                            <label class=" topic-detail">{{seeDetail.id}}</label>
                        </div>
                        <div class="col m2 s6">
                            <label class="right topic-detail">วันที่รักษา : </label>
                        </div>
                        <div class="col m3 s6">
                            <label class=" topic-detail">{{seeDetail.dateHeal}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6">
                            <label class="right topic-detail">ชื่อลูกค้า : </label>
                        </div>
                        <div class="col m3 s6">
                            <label class=" topic-detail">{{seeDetail.patient.name}}</label>
                        </div>
                        <div class="col m2 s6">
                            <label class="right topic-detail">ชื่อหมอ : </label>
                        </div>
                        <div class="col m3 s6">
                            <label class=" topic-detail">{{seeDetail.doctor.nameTh}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6">
                            <label class="right topic-detail">รายละเอียดการรักษา : </label>
                        </div>
                        <div class="col m9 s6">
                            <label class=" topic-detail">{{seeDetail.detail}}</label>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col m6 s6" style="position: relative; left: 230px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="center">ชนิดการรักษา</th>
                                        <th class="center">จำนวน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="see in seeDetail.orderHealDetailHeals">
                                        <td class="center">{{see.listSelectHeal.name}}</td>
                                        <td class="center">{{see.value}}</td>  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row margin-top right">
                        <a class="btn btn-gray waves-effect waves-light" ng-click="cancel()">ยกเลิก</a>
                        <a class="btn btn-blue2 waves-effect waves-light" ng-click="actionUpdate(seeDetail)">แก้ไข</a>
                        <button class="btn btn-red waves-effect waves-light modal-trigger"  href="#modal-delete">ลบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="modalSelectHeal" class="modal">
    <div class="modal-content">
        <div class="row center" >           
            <div class="row center">
                <h4 style="background: #00838f;color: white;padding: 20px;" class="margin-top-20 magin-buttom-20">เลือกชนิดการรักษา</h4>
            </div>

            <div class="col m6 input-field">
                <i class="material-icons prefix clear-prefix" style="margin-left: -175px;">android</i>
                <div class="select-custom">
                    <select class="browser-default" id="select-department" 
                            ng-model="nameListOrderheal" 
                            ng-options="lsh.name for lsh in listSelectHeals.content"
                            >                       
                    </select>
                </div>
                <label id="label-department" class="active">ชื่อชนิดการรักษา</label>
            </div>
            <div class="col m6 input-field">
                <i class="material-icons prefix">android</i>
                <input type="number" id="name" ng-model="amountListSelectHeal">
                <label class="active"  for="name">จำนวน</label>
            </div>
        </div>
    </div>

    <div class="model-footer right">
        <a href="" class="magin-button btn btn light-blue darken-4 modal-action modal-close" ng-click="addSelectHeal(nameListOrderheal)" >ตกลง</a>
        <a href="" class="magin-button btn btn grey darken-2 modal-action modal-close" >ยกเลิก</a>
    </div>
</div>

<div id="modal-delete" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center">
            <h4 style="background: red;color: white;padding: 20px;" class="margin-top-20 magin-buttom-20">ลบบัญทึกการรักษา</h4>
        </div>
        <h4 class="margin-left-20">ลบบัญทึกการรักษา : {{seeDetail.patient.name}}</h4>
    </div>
    <div class="model-footer right">
        <a href="" class="magin-button btn btn-red modal-action modal-close" ng-click="deleteDetailHeal(see)">ลบ</a>
        <a href="" class="magin-button btn btn-gray modal-action modal-close">ยกเลิก</a>
    </div>
</div>


