<div class="container">

    <div class="card">
        <div class="card-content">

            <span class="card-title" style="color: black;"><h4>เพิ่มทันตเเพทย์</h4></span>

            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="id">label</i>
                    <input type="text" id="id" disabled ng-model="doctor.id">
                    <label for="id" class="update">ID</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">email</i>
                    <input type="text" id="email" ng-model="doctor.email" ng-change="setBackgroundPrefixId()">
                    <label for="email" class="update">อีเมลล์<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.email.message}}</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">lock</i>
                    <input type="password" id="password"  ng-model="password" ng-change="comparePassword()">
                    <label for="password" class="update">พาสเวิร์ด<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.password.message}}</span></label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">lock</i>
                    <input type="password" id="confirmpassword"  ng-model="doctor.password" ng-change="comparePassword()">
                    <label for="confirmpassword" class="update">ยืนยังพาสเวิร์ด<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.password.message}}</span></label>
                    <i class="material-icons right-input-custom" id="confirm"></i>
                </div>
            </div>
             <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">book</i>
                    <input type="text" id="pid"  ng-model="doctor.permitNo">
                    <label  for="pid" class="update">เลขที่ใบอนุญาติ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">book</i>
                    <input type="text" id="nameth" ng-model="doctor.permitType">
                    <label for="nameth" class="update">ประเภทใบอนุญาติ</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">credit_card</i>
                    <input type="text" id="pid"  ng-model="doctor.pid">
                    <label  for="pid" class="update">รหัสประชาชน</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">account_circle</i>
                    <input type="text" id="nameth"  ng-model="doctor.nameTh">
                    <label for="nameth" class="update">ชื่อ ภาษาไทย<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.nameTh.message}}</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">account_circle</i>
                    <input type="text" id="nameeng"  ng-model="doctor.nameEng">
                    <label for="nameeng" class="update">ชื่อ ภาษาอังกฤษ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">cake</i>
                    <input type="date" id="birthdate" class="datepicker" ng-model="doctor.birthDate">
                    <label for="birthdate" class="update">วันเกิด</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="sex">wc</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-sex" ng-model="doctor.sex" ng-init="doctor.sex = 'ชาย'"> 
                            <option value="ชาย">ชาย</option>
                            <option value="หญิง">หญิง</option>
                        </select> 
                    </div>
                    <label class="active" id="label-sex">เพศ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="blood">format_bold</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-blood" ng-model="doctor.blood" ng-init="doctor.blood = 'A'">
                            <option value="A">A</option>
                            <option value="B">B</option> 
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                    </div>
                    <label class="active" id="label-blood">กรุ๊ปเลือด</label>
                </div>
            </div>
           <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">home</i>
                    <textarea type="text" id="addressofpid" class="materialize-textarea"  ng-model="doctor.address"></textarea>
                    <label for="address" class="update">ที่อยู่</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">phone</i>
                    <input type="text" id="tel" ng-model="doctor.tel">
                    <label for="tel" class="update">เบอร์โทร</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">stay_current_portrait</i>
                    <input type="text" id="mobile" ng-model="doctor.mobile" ng-change="setBackgroundPrefixSexBlood();setBackgroundPrefixWorkstatus()">
                    <label for="mobile" class="update">เบอร์โทรศัพท์มือถือ<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.mobile.message}}</span></label>
                </div>
                 <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="workstatus">content_paste</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-workstatus" ng-model="doctor.workStatus" ng-init="doctor.workStatus = 'ทำงาน'">
                            <option value="ทำงาน">ทำงาน</option>
                            <option value="ไม่ได้ทำงาน">ไม่ได้ทำงาน</option>
                        </select>
                    </div>
                    <label class="active" for="workstatus">สถานะการทำงาน</label>
                </div>
            </div>
        </div>
    </div>




    
</div>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>อัพโหลดรูปภาพ</h5></span>
                <div style="margin: 0px auto" class="center">
                    <img id="employee-picture" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-employee-picture" custom-on-change="selectPicture" file-model="image" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="offset m12" style="margin-right: 10px;">
                <button class="btn right waves-effect waves-light" ng-click="saveDoctor()" type="submit">Save<i class="mdi-content-send right"></i></button>
                <input class="btn btn-gray waves-effect waves-light right" style="margin-right: 10px;"  type="submit" value="Clear" ng-click="clearData()">
            </div>
        </div>
    </div>
</div>

