<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-content"><h4>คนไข้</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search" ng-model="search.keyword">
                    <label for="search" >ค้นหา : </label>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <span><h6>ค้นหาโดย : </h6></span>
                    <div class="select-custom">
                        <select class="browser-default" id="select-searchby" ng-model="search.searchBy" ng-init="search.searchBy = 'ชื่อ'">
                            <option value="H/N">H/N</option>
                            <option value="ชื่อ">ชื่อ</option>
                            <option value="อีเมลล์">อีเมลล์</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <a class="btn waves-effect waves-light" style="margin-top: 10px; margin-left:calc(3.8rem)" ng-click="selectGetOrSearch()">ค้นหา</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col m6">
                    <span class="card-title" style="font-size: 30px; font-weight:400;color: black">รายละเอียดคนไข้</span>
                </div>
                <div class="col m6">
                    <div class="right">
                        <span class="">เเสดงข้อมูล : </span>
                        <select class="browser-default" ng-change="getPatient()" style="margin-top: 10px; margin-left:calc(3.8rem);width: 100px;" ng-model="size" ng-init="size = '10'">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="hoverable responsive-table" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th style="width: 20%">ชื่อ</th>
                        <th style="width: 10%">H/N</th>
                        <th style="width: 15%">เลขประชาชน</th>
                        <th style="width: 20%">อีเมลล์</th>
                        <th style="width: 15%">ข้อมูลเพิ่มเติม</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr ng-repeat="patient in patients.content">
                        <td>{{patient.id}}</td>
                        <td>{{patient.name}}</td>
                        <td>{{patient.hn}}</td>
                        <td>{{patient.pid}}</td>
                        <td>{{patient.email}}</td>
                        <td><a href="" ng-click="clickMoreDetail(patient);alert(patient.patientPictureXray.nameXrayFilm)" class="activator" id="moredetail">more detail</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="row" id="card-employee">
                <div class="col m12">
                    <ul class="pagination right" style="margin-top: 10px;">
                        <li class="btn waves-effect btn-pagination" id="first-page" ng-click="firstPage()"><p style="margin-top: 2px;">&Lt;</p></li>
                        <li class="btn waves-effect btn-pagination" id="pre-page" ng-click="prePage()"><p style="margin-top: 2px;">&LT</p>;</li>
                        <li class="btn waves-effect btn-pagination"><p style="margin-top: 2px;">{{currentPage + 1}}</p></li>
                        <li class="btn waves-effect btn-pagination" id="next-page" ng-click="nextPage()"><p style="margin-top: 2px;">&GT;</p></li>
                        <li class="btn waves-effect btn-pagination" id="final-page" ng-click="finalPage()"><p style="margin-top: 2px;">&Gt;</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" id="close-card">รายละเอียคคนไข้<i class="material-icons right" ng-click="toPreScroll()">close</i></span>
            <div style="margin-top: 40px;" class="center">
                <img class="responsive-img" src="" id="img-employee">
            </div>
            <div style="margin-top: 20px;">
                <div class="row">
                    <div class="col m3 s6">
                        <label class="right topic-detail">ID : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.id}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">H/N : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.hn}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">เลขประจำตัวประชาชน : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.pid}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">ชื่อ/สกุล : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.name}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">วันเกิด : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.birthDate}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">อายุ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.age}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">เพศ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.sex}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">กรุ๊ปเลือด : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.blood}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">สัญชาติ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.nation}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">เชื้อชาติ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.race}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m3 s6">
                        <label class="right topic-detail">ที่อยู่ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.address}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">เบอร์โทร : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.tel}}</label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col m3 s6">
                        <label class="right topic-detail">เบอร์โทรศัพท์มือถือ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.mobile}}</label>
                    </div>
                    <div class="col m2 s6">
                        <label class="right topic-detail">อาชีพ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.job}}</label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col m3 s6">
                        <label class="right topic-detail">อีเมลล์ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{patientDetail.email}}</label>
                    </div>
                </div> 
            </div>

            <span class="card-title grey-text text-darken-4" style="margin-top: 30px;">ประวัติทางการเเพทย์</span>
            <div class="row">
                <div class="col m3 s6" ng-repeat="me in patientDetail.medicalHistory">
                    <label class="topic-detail">{{me.disease}}</label>
                </div>
            </div>

            <span class="card-title grey-text text-darken-4" style="margin-top: 30px;">รูปภาพ ฟิล์มเอ็กเรย์</span>
            <div style="margin-top: 40px;" class="center">
                <img class="responsive-img" src="" id="img-patientxray">
            </div>

            <span class="card-title grey-text text-darken-4" style="margin-top: 30px;">รูปภาพ ก่อนจัดฟัน</span>
            <div style="margin-top: 40px;" class="center">
                <img class="responsive-img" src="" id="img-patientbefore">
            </div>

            <span class="card-title grey-text text-darken-4" style="margin-top: 30px;">รูปภาพ ระหว่างจัดฟัน</span>
            <div style="margin-top: 40px;" class="center">
                <img class="responsive-img" src="" id="img-patientcurrent">
            </div>

            <span class="card-title grey-text text-darken-4" style="margin-top: 30px;">รูปภาพ หลังจัดฟัน</span>
            <div style="margin-top: 40px;" class="center">
                <img class="responsive-img" src="" id="img-patientafter">
            </div>


            <div class="row margin-top right">
                <input type="submit" value="Cancel" class="btn btn-gray waves-effect waves-light" ng-click="cancel()">
                <input type="submit" value="Update" class="btn btn-blue2 waves-effect waves-light" ng-click="updatePatient(patientDetail)">
                <input type="submit" value="Delete" class="btn btn-red waves-effect waves-light" ng-click="clickDelete()">
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center">
            <h4 style="background: red;color: white;padding: 20px;" class="margin-top-20 magin-buttom-20">ลบ คนไข้</h4>
        </div>
        <h5 class="margin-left-20">ลบ: {{patientDetail.name}}</h5>
    </div>
    <div class="model-footer right">
        <a href="" class="magin-button btn btn-gray modal-action modal-close">Cancle</a>
        <a href="" class="magin-button btn btn-red modal-action modal-close" ng-click="deletePatient()">Delete</a>
    </div>
</div>


