<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title" style="color: black;"><h4>เพิ่มประเภทสินค้า</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">android</i>
                    <input type="text" id="id" disabled ng-model="typeProduct.id">
                    <label class="active" for="id">ลำดับ</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix" >android</i>
                    <input type="text" id="name" ng-model="typeProduct.name">
                    <label class="active" id="namedepartment" for="name">ชื่อประเภทสินค้า</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 center">
                    <a href="" class="btn btn-green waves-effect waves-light" ng-click="saveTpyeProduct()">บันทึกข้อมูล</a>
                    <a href="" class="btn btn-orenge waves-effect waves-light" ng-click="clearData()">ล้างข้อมูล</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-content"><h4>ค้นหาประเภทสินค้า</h4></span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search" ng-model="searchData.keyword">
                    <label for="search" >Search : </label>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <span><h6>Search By : </h6></span>
                    <div class="select-custom">
                        <select class="browser-default" id="select-searchby" ng-model="searchData.searchBy" ng-init="searchData.searchBy = 'Name'">
                            <option value="Name">ชื่อประเภท</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <a class="btn waves-effect waves-light" style="margin-top: 10px; margin-left:calc(3.8rem)" ng-click="searcEmployee()">Search</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col m6">
                    <span class="card-title" style="font-size: 30px; font-weight:400;color: black">ตารางประเภทสินค้า</span>
                </div>
                <div class="col m6">
                    <div class="right">
                        <span class="">Show Page : </span>
                        <select class="browser-default" ng-change="selectGetOrSearch()" style="margin-top: 10px; margin-left:calc(3.8rem);width: 100px;" ng-model="row" ng-init="row = '10'">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="bordered hoverable responsive-table">
                <thead>
                <th style="width: 20px" class="table-department">ลำดับ</th>
                <th style="width: 50px" class="table-department">ชื่อ</th>
                <th style="width: 30px;"class="table-department">จัดการ</th>
                </thead>
                <tbody>
                    <tr ng-repeat="tp in typeProducts.content">
                        <td>{{tp.id}}</td>
                        <td>{{tp.name}}</td>
                        <td>
                            <a class="modal-trigger btn btn-red waves-effect waves-light" href="" ng-click="actionDelete(tp)" >ลบ</a>
                            <a href="" class="btn btn-blue2 waves-effect waves-light" ng-click="updateTpyeProduct(tp)">แก้ไข</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="card-employee">
                <div class="col m12">
                    <ul class="pagination right" style="margin-top: 10px;">
                        <li class="btn waves-effect btn-pagination" id="first-page" ng-click="firstPage()"><p style="margin-top: 2px;">&Lt;</p></li>
                        <li class="btn waves-effect btn-pagination" id="pre-page" ng-click="prePage()"><p style="margin-top: 2px;">&LT</p>;</li>
                        <li class="btn waves-effect btn-pagination"><p style="margin-top: 2px;">{{currentPage}}</p></li>
                        <li class="btn waves-effect btn-pagination" id="next-page" ng-click="nextPage()"><p style="margin-top: 2px;">&GT;</p></li>
                        <li class="btn waves-effect btn-pagination" id="final-page" ng-click="finalPage()"><p style="margin-top: 2px;">&Gt;</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-delete" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center">
            <h4 style="background: red;color: white;padding: 20px;" class="margin-top-20 magin-buttom-20">ลบประเภทสินค้า</h4>
        </div>
        <h4 class="margin-left-20">ลบประเภทสินค้า : {{typeProduct.name}}</h4>
    </div>
    <div class="model-footer right">
        <a href="" class="magin-button btn btn-red modal-action modal-close" ng-click="deleteTpyeProduct()">ลบ</a>
        <a href="" class="magin-button btn btn-gray modal-action modal-close" ng-click="clearData()">ยกเลิก</a>
    </div>
</div>